# Site base URL — set to http://localhost:3000 locally; your production domain on Vercel
NEXT_PUBLIC_SITE_URL=https://pvcon-website.vercel.app

# Retrieve your GA ID from your GA dashboard
GOOGLE_ANALYTICS_ID=G-XXXXXXX